#nav_menu ul {
list-style-type : none;
}
#nav_menu ul li {
float : left;
margin : 0 auto;
}
#nav_menu ul li a {
text-align : center;
display : block;
width : 175px;
padding : 1em 0;
text-decoration : none;
background-color : #08367E;
color : white;
font-weight : bold;
border-right : 5px solid white;
margin-bottom : 0;
}
#nav_menu ul li a.lastitem {
border-right : none;
}
#nav_menu ul li a.current {
color : #C126CC;
}

.dropbtn {
display : block;
text-align : center;
width : 175px;
font-weight : bold;
background-color : #08367E;
color : white;
padding : 1em 0;
    margin-bottom : 13px;
font-size : 16px;
border-right : 5px solid white;
margin : 0;
    text-decoration : none;
    border-bottom: none;
    border-top: none;
}

#nav_menu .dropdown {
position : relative;
    min-width : 175px;
    overflow:inherit;
}

.dropdown-content {
display : none;
position : absolute;
background-color : #1771ff;
min-width : 175px;
overflow : auto;
z-index : 1;
top : 100%;
}

#nav_menu .dropdown-content a {
  float: none;
  color: black;
    background-color : #1771ff;
    text-align: left;
  text-decoration: none;
  clear: both;
  display: block;
    padding: 10px 0;
    margin: 0;
}

/* Media queries to adjust styles for different screen sizes */
@media screen and (max-width: 768px) {
  #nav_menu ul li a, .dropbtn {
    padding: 0.5em 0; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  #nav_menu ul li a {
    margin-bottom: 5px; /* Adjust margin for spacing */
  }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  #nav_menu ul li a, .dropbtn {
    padding: 1em 0; /* Reset padding for tablets */
    font-size: 16px; /* Reset font size for tablets */
  }
}

@media screen and (min-width: 1026px) {
  /* Desktop styles (no changes) */
}

#nav_menu a:hover, .dropdown:hover {
  background-color: #1771ff;
}

#nav_menu .dropdown-content a:hover {
  background-color: #FFC258; /* Change to orange on hover */
}
.dropdown-content .dropdown-link:hover {
  background-color: orange; /* Change to different hover color */
}

.dropdown:hover .dropdown-content {
display : block;
}
.dropdown:hover .dropbtn {
background-color : #1771ff;
}

/* print stylesheet */
  @media print {
      * { background: transparent !important;
          color: black !important;
          box-shadow: none !important;
          text-shadow: none !important;
      }
      
      #nav_menu
      {
          display: none;
          margin-bottom: 0;
          margin-top: 0;
      }

